#topic{
    text-align: left;
    font-size: medium;
    font-family: fantasy;
}
body{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: larger;


}
#wall{
    width: 50%;
    height: 50%;
    border-radius: 2%;

}
.paragragh{
    padding-right: 45%;
}
.image{
    width: 35%;
    height: 60%;
    float: right;
    border-radius: 2%;
}
#icons{
    width: 10%;
    height: 10%;
    margin: 1%;
}
.icon{
    display: flex;
    padding-left: 50%;
}
.hide{
    display: none;
}
